In [81]:
import pandas as pd
import numpy as np
import csv

In [3]:
time = pd.date_range("1/1/2016","1/1/2018")

In [4]:
time

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', length=732, freq='D')

In [13]:
input_data =  np.random.randint(0,10, 732)
output_data = np.random.randint(-10,-1,732)

In [15]:
create_data  = pd.DataFrame({"time": time, "inputdata" : input_data, "outpur_data": output_data})

In [16]:
create_data.head()

        time  inputdata  outpur_data
0 2016-01-01          7           -8
1 2016-01-02          8           -6
2 2016-01-03          3           -5
3 2016-01-04          9           -5
4 2016-01-05          6           -5

In [73]:

def create_data(times):
    suma = 0
    lista = []
    for i in range(3):
        a = np.random.randint(0,10)
        lista.append(a)
    
    for i in range(times-3):
        a = np.random.randint(0,10)
        a = np.random.randint(0,10)

        if suma > 30: 
            a = np.random.randint(-10,0)
        elif suma < -30:
            a = np.random.randint(0,10)
        else:
            a = np.random.randint(-10,10)        
        suma = suma + a
        lista.append(a)
        
#         print(suma, a)
    return lista

In [76]:
listint = create_data(732)

In [77]:
create_data = pd.DataFrame({"time": time, "inputdata" : np.array(listint)})

In [86]:
create_data.to_csv("fit_data.csv")

In [116]:
read_data = pd.read_csv("fit_data.csv")

In [117]:
type(read_data['time'])

pandas.core.series.Series

In [118]:
import scipy.stats as stats

In [171]:
# print(read_data.corr())
lisa = []
for i in range(len(read_data['time'])):
    lixer = ''.join(read_data['time'][i].split('-'))
    lisa.append(int(lixer))
# lisa = np.array(lisa)

In [175]:
ind = np.array(read_data['inputdata']).tolist()
lisa[:10]

[20160101,
 20160102,
 20160103,
 20160104,
 20160105,
 20160106,
 20160107,
 20160108,
 20160109,
 20160110]

In [173]:
# 相关系数和P值
r,p = stats.pearsonr(lisa,ind)

print(f'相关系数r为 = {r}，p值为 ={p}')

相关系数r为 = -0.002424866862137998，p值为 =0.9477807169230904

In [125]:
import numpy as np
import pandas as pd
import scipy.stats as stats

data = pd.DataFrame(np.random.randn(200,2)*100, columns=['X','Y'])
r,p = stats.pearsonr(data.X,data.Y)  # 相关系数和P值
print('相关系数r为 = %6.3f，p值为 = %6.3f'%(r,p))

相关系数r为 = -0.117，p值为 =  0.099

In [126]:
data.shape

(200, 2)

In [144]:
int(''.join(read_data['time'][0].split('-')))

20160101

In [138]:
import datetime

In [176]:
def list_method():
    all_data = []
    for v, w in data.items():
        temp = []
        for i in range(w):
            temp.append(v)
        all_data.extend(temp)
        
    n = random.randint(0,len(all_data)-1)
    return all_data[n]

In [177]:
aaa =  list_method()

TypeError: 'Series' object cannot be interpreted as an integer

In [178]:

weight_data = {'a': 10, 'b': 15, 'c': 50}

In [180]:
weight_data.keys()

dict_keys(['a', 'b', 'c'])